body{
    /* width: 500px;
    height: 400px; */
    /* background-image: url(); */
    /* background: #0000 url("../image/back.jpg") no-repeat top center/  */
    /* 500px auto; */
    /* background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed; */
    margin: 0px;
} 

/* div{
    width: 100%;
    height: 300px;
    background-image: url("../image/back.jpg"); */
    /* background-attachment: fixed; */
    /* background-attachment: scroll;
    background-positION: center; */
 /* }  */

.non{
    width: 100px;
    height: 100px;
    background-color: rgb(42, 10, 100);
    /* margin: 10px 10px 10px; */ 
    /* if use 2 value then top+bottom left+right: if 3 then top left+right bottom, id 4 top right bottom left ; */
    /* margin auto - place middle */
    margin-top: 40px;;
}
.nono{
    width: 100px;
    height: 100px;
    background-color: rgb(42, 10, 100);
    /* margin: 10px 10px 10px; */ 
    /* if use 2 value then top+bottom left+right: if 3 then top left+right bottom, id 4 top right bottom left ; */
    /* margin auto - place middle */
    /* margin-top: 40px;; */
    margin: 40px;
    /* padding: 20px 10px; */
}
 /* p{
    border-style:double solid ;
    border-width: 10px 30px;
    text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}  */

h2{
    color: blue;
    text-align: center;
}

.slider{
    font-size: 50px;
    background-color:rgb(152, 252, 255);
    /* border:rgb(9, 204, 204); */
    /* border-style: solid;
     */
     border-left: 10px solid rgb(9, 204, 204);
    /* border-width: 0px 0px 0px 10px; */
    padding: 10px 0px 10px;
    /* height: 80px; */
    /* margin-top: 80px; */
    /* display: inline-block; */
    /* bottom: 15px; */
}

.boxmodel{
    padding: 50px;
    border:  50px rgb(9, 204, 204) solid;
    margin: 50px;
    outline: solid;
}

h3{
    text-shadow: 2px 2px;
    /* text-shadow: 2px 2px 5px #000000; */
    /* text-shadow: 0 0 3px #FF0000; */
    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}

/* p.font{
    font-family: Copperplate, Papyrus, fantasy;
    /* font-family: "Sofia", sans-serif; */
/* } */
a.one{
    font-size: 60PX;
    border:rgb(255, 217, 0) solid;
    text-decoration: none;
    padding: 20px;
    color: black;
}
a.one:hover{
    color: white;
    background-color: rgb(255, 217, 0);
}

/* a:visited {
    color: green;
} */
a.one:active {
    color: blue;
  }

  ul.a{
      list-style-type: circle;
  }

  ul.b{
    list-style-type: square;
}

ul.c{
    list-style-type: upper-alpha;
}

table.tab{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
}
table.tab td, th{
    border: 1px #ddd solid;
}
table.tab td{
    padding: 10px;
}
.tab tr:nth-child(even){
    background-color: #f2f2f2;
}

.tab th {
    padding: 10px;
    /* padding-top: 12px;
    padding-bottom: 12px; */
    /* text-align: left; */
    background-color: #04AA6D;
    color: white;
  }
  .tab tr:hover {
      background-color: #ddd;
    }

    .float{
        float: right;
    }


.gradiant{
    /* height: 100px; */
    /* background-image: linear-gradient(90deg, red, yellow);
    background-image: linear-gradient(red, yellow, green); */
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    background-image: radial-gradient(red, yellow, green);
    background-image: radial-gradient(red 5%, yellow 15%, green 60%); */
    /* background-image: radial-gradient(circle, red, yellow, green); */
    /* height: 150px;
    width: 200px; */
    /* background-color: red; /* For browsers that do not support gradients */
    /* background-image: repeating-radial-gradient(red, yellow 10%, green 15%); */ 
    /* background-image: conic-gradient(red, yellow, green, blue, black); */
    height: 200px;
    width: 200px;
   /* background-color: red; /* For browsers that do not support gradients */
    /* background-image: conic-gradient(red, yellow, green, blue, black); */
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    /* border-radius: 50%;
    box-sizing: 10px 10px; */
    transform: translate(50px, 100px);
    transition: width 2s;

}

.gradiant:hover{
    width: 300px;

}

.animation{
    width: 100px;
    height: 100px;
    position: relative;

    background-color: rgb(98, 0, 255);
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: 3;

}

@keyframes colorchange{
    /* from {background-color: red;}
  to {background-color: yellow;} */
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

div.psudo > p{  /*+ or ~ oposite*/
    color: rgb(243, 207, 0);
}

div.psud :nth-child(2) {
    background-color: darkblue;
}

div.psud :last-child {
    color: darkred;
}

div.psud :first-child {
    color: rgb(0, 139, 12);
}

div.psud::first-letter{
    font-size: 50px;
}

div.psud::before{
    content: "helllo";
}